version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  backend:
    build: ./backend
    env_file: ./backend/.env.example
    volumes:
      - ./backend:/usr/src/app
    ports:
      - '5000:5000'
    depends_on: [mongo, redis]

  parser:
    build: ./parser-service
    volumes:
      - ./parser-service:/usr/src/app
    ports:
      - '8000:8000'
    depends_on: [backend]

volumes:
  mongo-data:
